.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  flex-shrink: 0;
}
